<div class="widget">
    <h2 class="widget-title">Sponsors</h2>
    <div class="widget-ad" data-nosnippet>
        <!-- Server-side rendered ad unit -->
        <noscript>
            <iframe 
                data-aa='2391141' 
                src='https://ad.a-ads.com/2391141?size=300x250' 
                style='width:300px; height:250px; border:0; padding:0; overflow:hidden; background-color: transparent;'
            ></iframe>
        </noscript>
        <iframe 
            data-aa='2391141' 
            src='https://ad.a-ads.com/2391141?size=300x250' 
            style='width:300px; height:250px; border:0; padding:0; overflow:hidden; background-color: transparent;'
        ></iframe>
        <div class="ad-disclaimer">
            <a href="https://a-ads.com/?partner=2391141">Advertise with A-Ads</a>
        </div>
    </div>
</div>
