{{ define "main" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,follow">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://cryptodev.top/test-ad/">
    <title>A-Ads Test Page</title>
</head>
<body style="margin:0;display:flex;justify-content:center;align-items:center;min-height:100vh">
    <iframe data-aa='2391141' 
            src='https://ad.a-ads.com/2391141?size=300x250'
            style='width:300px; height:250px; border:0; background:transparent;'
            loading="eager">
    </iframe>
</body>
</html>
{{ end }}
